.form-input-container {
    display: flex;
    flex: 1;
    margin: 1rem 0 1rem;
}

.form input {
    border: none;
    flex: 1;
    padding: .5rem;
}

.form button {
    padding: .5rem;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    cursor: pointer;

}